<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div  id="app" class="container">
        <div>
            <h2>單一產品細節</h2>
            <p v-if="!temp.title">請選擇一個商品查看</p>
            <div v-else class="card">
                <div class="tag">{{temp.category}}</div>
                <div class="inner_part">
                  <label for="slideImg" class="img">
                    <img class="img_1" v-bind:src="temp.imageUrl">
                  </label>
                  <div class="content content_1">
                    <div class="title">{{temp.title}}</div>
                    <div class="text">
                      {{temp.description}}
                    </div>
                    <div class="text">
                        {{temp.content}}
                    </di>
                <div class="text">
                    {{temp.price}} <span>{{temp.origin_price}}</span>/<span>{{temp.unit}}</span>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <h2>產品列表</h2>
        <table>
            <thead>
                <tr>
                    <th>產品名稱</th>
                    <th>原價</th>
                    <th>售價</th>
                    <th>是否啟用</th>
                    <th>查看細節</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in products" :key="item.id">
                    <td>{{item.title}}</td>
                    <td>{{item.origin_price}}</td>
                    <td>{{item.price}}</td>
                    <td>
                        <span v-if="item.is_enabled">啟用</span>
                        <span v-else>未啟用</span>
                    </td>
                    <td><button type="button" class="custom-btn btn-16 " @click="temp=item">查看細節</button></td>
                </tr>
            </tbody>
        </table>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="./js/products.js" type="module"></script>
</body>
</html>