/* .topNav{
	height: 40px;
	
} */
 .total{
	margin-top: 30px;
	
	background-color: #FFF;
	opacity: 0.9;
	z-index: 99;
	width: 100%;
} 
.typeArea{
	margin-left: 40px;
}
.btnTypePro,
.btnTypeMax {
	width: 450px;
}
.btnColor{
	width: 220px;
}
.StoragePrice{
	width: 200px;
}
.btnCart{
	border-radius: 50px;
}