.topNav{
	height: 40px;
}
.total{
	margin-top: 30px;
	background-color: #FFF;
	opacity: 0.9;
	z-index: 99;
}
.typeArea{
	margin-left: 40px;
}
.btnTypePro{
	width: 450px;
}
.btnColor{
	width: 220px;
}
.btnCart{
	border-radius: 50px;
}