/* 公用 */
.mymain{
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}
.fs10{font-size: 10px;}
.fs12{font-size: 12px;}
.fs16{font-size: 16px;}
.fs18{font-size: 18px;}
.fs16>span{color: #049DD9;}
/* 場地主的場地管理 */
/* 標頭  Top*/
.SpaceCardGroup{
	margin-bottom: 30px;
}
.AddSpaceBtn{
	border: #049DD9 0.2px solid ;
	background-color: #ffffff;
	border-radius: 5px;
	font-size: 16px;
	padding: 8px 15px;
	color: #049DD9;
	outline: none;
	
	margin-bottom: auto;
}
.AddSpaceBtn:hover {
	background-color: #EEEEEE;
}
.EditSpaceBtn{
	background-color: #049DD9;
	border-radius: 5px;
	font-size: 16px;
	padding: 8px 15px;
	color: #FFFFFF;
	outline: none;
	border: 0.2px solid #049DD9;
	margin-top: 8px;
	margin-bottom: auto;
}
.EditSpaceBtn:hover {
	background-color: #ffffff;
	border: #049DD9 0.2px solid;
	color: #049DD9;
}
.DeleteSpaceBtn
{
		border: #cccccc 0.2px solid;
		background-color: #ffffff;
		border-radius: 5px;
		font-size: 16px;
		padding: 8px 15px;
		color: #555555;
		outline: none;
		margin-top: 8px;
		margin-bottom: auto;
}
.SpaceCardBody{
	margin-top: auto;
	margin-bottom: auto;
}
.DeleteSpaceBtn:hover {
	color: #cccccc;
}

/* 桌機 平板 模板內的Ｃlose x */
.CloseMbtn{
	width:5px;
	height:5px;
	margin:5px;
}
/* 模板內的checkbox  */
@media screen and (max-width:767px) {
	
}
.form-check-label{
	font-size:18px;
}
.deleteBtnM{
	background-color: #de6868;
	color: rgb(255, 255, 255);
}
.cancelBtnM{
	border: #cccccc 0.2px solid;
	background-color: #ffffff;
	border-radius: 5px;
	padding: 8px 15px;
	color: #555555;
	outline: none;
	margin-bottom: auto;
}
/* 修改場地內容 */
.editDetailsp{
	font-size: 16px;
}
.editDetails{
	border-bottom: #cccccc 0.2px solid;
}
.editDetails:last-child {
	border-bottom: #cccccc 0.2px none;
}
.deleteBtn{
	background-color: #de6868;
	color: rgb(255, 255, 255);
	outline: none;
}
.deleteBtn:hover {
	background-color: #982626;
	color: rgb(255, 255, 255);
	outline: none;
}
.fsS{
	font-size: 16px;
}
@media screen and(min-with:768px){
	.deleteWmd {
		width: 25% !important;
	}
}

/* 增加場地 */

/* 按鈕手機 */
@media screen and (max-width:767px) {
	.AddSpaceBtn {
		margin-left: 32px;
	}
	.DeleteSpaceBtn {
		border: #cccccc 0.2px solid;
		background-color: #ffffff;
		border-radius: 5px;
		font-size: 16px;
		padding: 8px 15px;
		color: #555555;
		outline: none;
		margin-top: 8px;
		margin-bottom: auto;
	}
}

/* 場地管理的商品卡 body  */
.SpaceCardGroup{
	border: #049DD9 0.5px solid;
	border-radius: 5px;
	padding: 5px;
}
.SpaceCardimg{
	width: 20%;
	padding-top: 15px;
	padding-bottom: 15px;
}
.SpaceCardimg >img{
	border: #EEEEEE 0.5px solid;
	border-radius: 5px;
	width: 100%;
}
.SpaceCardBody>p {
	color: #555555;
}


/* 商品卡手機 */
@media screen and (max-width:767px) {
	.SpaceCardimg {
		width: 100%;
	}
	.SpaceCardBody>p {
		font-size: 14px;
	}
}